<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" alt="Logo" width="40" height="40"
                class="d-inline-block align-text-center rounded-circle">
            AMR Zhop
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="#">Products</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Eyewear</a></li>
                        <li><a class="dropdown-item" href="#">Hat</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">

                    <div class="btn-group dropstart">
                        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="images/shopping_card_icon.png" alt="Logo" width="40" height="40"
                                class="d-inline-block align-text-center">
                        </button>
                        <ul class="dropdown-menu shopping">
                            <li>
                                <a class="dropdown-item" href="#">

                                    <div class="card">
                                        <div class="row g-0">
                                            <div class="col-md-6">
                                                <img src="https://contents.mediadecathlon.com/p2174865/k$5361652f4a8eafda8318e1b764247e5e/aletas-natacion-largas-nabaiji-trainfin.jpg?format=auto&quality=70&f=800x0"
                                                    class="img-fluid rounded-start" alt="...">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body">
                                                    <h5 class="card-title text-wrap">Name product</h5>
                                                    <p class="card-text text-wrap">cantidad: X</p>
                                                    <p class="card-text text-wrap">Total</p>
                                                </div>

                                                <div class="card-footer">
                                                    <button type="button" class="btn btn-danger">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div>


                </li>
            </ul>
        </div>
    </div>
</nav>